cached-property==1.5.2
conda-env-export==0.3.2
dotmap==1.3.8
gtimer==1.0.0b5
gym==0.18.0
joblib==0.14.1
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
mujoco-py==2.0.2.13
olefile==0.46
pygpu==0.7.6
PyOpenGL==3.1.1a1
pyOpenSSL==19.1.0
PySocks==1.7.1
PyYAML==5.4.1
ray==0.6.4
sip==4.19.24
tensorflow==1.14.0
Theano==1.0.4
tornado==6.0.4